{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}" />
{% endblock %}
{% block title %}image{% endblock %}
{% block container %}

    <h1>Image</h1>
    <div class="row img_conteiner">
        <div class="col-md-2 tile">
            <a href="#" class="thumbnail">
                <img src="/media/img/pattern1.jpg" alt="...">
            </a>
        </div>
        <div class="col-md-2 tile">
            <a href="#" class="thumbnail">
                <img src="/media/img/pattern2.jpg" alt="...">
            </a>
        </div>
    </div>
    <div class="interior">
        <img src="/media/img/interior1.png" class="img-responsive m-x-auto" id="interior">
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/test_img_jquery.js' %}"></script>

{% endblock %}