{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}" />
{% endblock %}
{% block title %}image{% endblock %}
{% block container %}
<div class="image_block">
    <h1>Image</h1>
    <div class="list-group col-md-2 col-xs-2 walls">
        <div class="">
            <a href="#" class="room">
                <img src="/media/img/interior1.png" alt="..." class="img-thumbnail">
            </a>
        </div>
        <div class="">
            <a href="#" class="room">
                <img src="/media/img/interior2.png" alt="..." class="img-thumbnail">
            </a>
        </div>
        <div class="">
            <a href="#" class="room">
                <img src="/media/img/interior3.png" alt="..." class="img-thumbnail">
            </a>
        </div>
    </div>
    <div class="col-md-10 col-xs-10">
        <div class="interior">
            <img src="/media/img/interior1.png" class="img-responsive m-x-auto">
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <a href="#" class="wall">
                    <img src="/media/img/pattern1.jpg" alt="..." class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-2 col-xs-2">
                <a href="#" class="wall">
                    <img src="/media/img/pattern2.jpg" alt="..." class="img-thumbnail">
                </a>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/test_img_jquery.js' %}"></script>

{% endblock %}