<div class="item row col-xs-4 col-sm-4 col-md-4" id="collection_carousel_conteiner">
    <ul id="collection-slider" class="content-slider">
        {% for collection in collections %}
        <li>
            <button class="btn-link" type="button" id="{{ collection.name }}">
                <img src="/media/{{ collection.img }}" alt="изображение не найдено" class="img-responsive">
                <b>{{ collection.name }}</b>
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
