{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
{% endblock %}
{% block title %}collections{% endblock %}
{% block container %}
<div class="image_block">
    <h1>Collections</h1>
    <br/>
    <div class="list-group">
        {% for collection in collections %}
        <div class="collection">
            <a href="{% url 'collections:wallpaper' collection %}">
                <img src="/media/{{ collection.img }}" alt="изображение не найдено" class="img-responsive img_collection">
                <p>{{ collection.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <a href="/collections/lumina/interiors">
        <h4>Смотреть в интерьере</h4>
    </a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/test_img_jquery.js' %}"></script>

{% endblock %}