{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}" />
{% endblock %}
{% block title %}collections{% endblock %}
{% block container %}
<div class="image_block">
    <h1>Collections</h1>
    <br/>
    <div class="list-group">
        {% for collection in collections %}
            <button type="button" class="collection btn-link">
                <img src="/media/{{ collection.img }}" alt="изображение не найдено" class="img-responsive">
                <a href="#">{{ collection.name }}</a>
            </button>
        {% endfor %}
    </div>

    <a href="{% url 'collections:interior' %}">
        <h4>Смотреть в интерьере</h4>
    </a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/test_img_jquery.js' %}"></script>

{% endblock %}