{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
<link rel="stylesheet" href="{% static 'css/lightslider.min.css' %}" />
{% endblock %}
{% block title %}interiors{% endblock %}
{% block container %}
<div class="image_block">
    <div class="col-md-2 col-xs-2">
        <!-- слайдер для интерьеров -->
        {% include "collections_app/carousel_interior.html" %}
    </div>
    <div class="col-md-10 col-xs-10">
        <!-- canvas -->
        <canvas id="canvas_interior" class="img-rounded"></canvas>
        <!-- слайдер для колекций -->
        {% include "collections_app/carousel_collection.html" %}
        <!-- слайдер для обоев -->
        {% include "collections_app/carousel_wollpaper.html" %}
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/lightslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my_js.js' %}"></script>
{% endblock %}