{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/test.css' %}" />
{% endblock %}
{% block title %}interiors{% endblock %}
{% block container %}
<div class="image_block">
    <div class="list-group col-md-2 col-xs-2 walls">
        {% for interior in interiors %}
        <div>
            <a href="#" class="room">
                <img src="/media/{{ interior.img }}" alt="..." class="img-thumbnail">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-10 col-xs-10">
        <div class="interior">
            <img src="/media/interior1.png" class="img-responsive m-x-auto" id="interior_img">
            <div class="substrate" style="">
                <!--<img src="/media/32601.jpg" class="img-responsive m-x-auto img-thumbnail" id="left_wall">-->
                <!--<img src="/media/img/wall/32602.jpg" class="img-responsive m-x-auto" id="right_wall">-->
            </div>
        </div>
        <div class="row">
            {% for wallpaper in wallpapers %}
            <div class="col-md-2 col-xs-2">
                <a href="#" class="wall">
                    <img src="/media/{{ wallpaper.preview_img }}" alt="..." class="img-thumbnail">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/test_img_jquery.js' %}"></script>

{% endblock %}