{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
<link rel="stylesheet" href="{% static 'css/lightslider.min.css' %}" />
{% endblock %}
{% block title %}wallpaprs{% endblock %}
{% block container %}
<div id="current_collection">
    <h1>{{ collection.name }}</h1>
    <br/>
    <a href="{% url 'collections:interior' %}">
        смотреть в интерьере
    </a>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}