{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
<link rel="stylesheet" href="{% static 'css/lightslider.min.css' %}" />
{% endblock %}
{% block title %}wallpaprs{% endblock %}
{% block container %}
<div id="current_collection_name">
    <h1>{{ current_collection }}</h1>
</div>
<br/>
<form method="post" action="{% url 'collections:interior' %}">{% csrf_token %}
    <input name="collection_name" type="hidden" value="{{ current_collection }}">
    <input type="submit" value="смотреть в интерьере" class="btn btn-success">
</form>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/my_js.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightslider.min.js' %}"></script>

{% endblock %}