{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block title %}edit{% endblock %}
{% block container %}

<h2>Панель администратора</h2>
<div class="panel panel-default">
    <div class="panel-heading">Информация о пользователе</div>
    <ul class="list-group">
        <li class="list-group-item"><b>ФИО:</b> {{ object.lastname }} {{ object.first_name }} {{ object.surname }}</li>
        <li class="list-group-item"><b>Имя пользователя:</b> {{ object.username }}</li>
        <li class="list-group-item"><b>E-mail:</b> {{ object.email }}</li>
    </ul>
</div>
<div class="panel">
    <a href="{% url 'admin_panel:user_update' object.id %}" class="btn btn-lg btn-primary btn-block">Обновить</a>
</div>
{% if user.id != object.id %}
    <div class="panel">
        <a href="{% url 'admin_panel:user_delete' object.id %}" class="btn btn-lg btn-danger btn-block">Удалить</a>
    </div>
{% endif %}

{% endblock %}