{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block title %}admin_panel{% endblock %}
{% block container %}

    <h2>Панель администратора</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Список пользователей</div>
        {% for user in object_list %}
        <a href="{% url 'admin_panel:user_detail' user.id %}" class="list-group-item">{{ user.username }}</a>
        {% endfor %}
    </div>
    <div class="panel">
        <a href="{% url 'admin_panel:user_create' %}" class="btn btn-lg btn-primary btn-block">Создать</a>
    </div>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'auth:sign_out' %}" class="panel">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Выйти</button>
    </form>
    {% endif %}

{% endblock %}