{% extends 'base.html' %}
{% block title %}registration{% endblock %}
{% block container %}
<h1>registration form</h1>
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="post">
        {% csrf_token %}
        <div>
        {% for field in reg_form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Войти" >
    </form>
{% endblock %}