{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}registration{% endblock %}
{% block container %}

    <h2>Регистрация</h2>
    <form action="{% url 'register' %}" method="post" class="form-signin">
        {% csrf_token %}
        <div>
        {% for field in reg_form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>

            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div><br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    </form>
    <br/>
    {{ send_mail_error }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery/jquery.mask.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/scripts.js' %}"></script>
{% endblock %}
