/* коллекции */
.img_collection {
    height: 150px;
    width: 150px;
}


/* просмотр интерьера */
.image_block {
    width: 100%;
    height: 100%;
}

.room img {
    width: 150px;
    object-fit: cover;
}

.wall img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#pic_interior {
    position: relative;
    width: 100%;
    background-repeat: repeat;
    margin-bottom: 10px;
}

#canvas_interior {
    width: 100%;
    background-repeat: repeat;
    margin-bottom: 10px;
}

#canvas_container {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

/* carousel */

#wallpaper-slider li {
    text-align: center;
}

#wallpaper_carousel_conteiner {
    margin: auto;
}

#collection-slider img {
    width: 100%;
    object-fit: cover;
}

#collection-slider li {
    text-align: center;
}
