.interior {
    background-image: url(/media/img/pattern2.jpg);
    background-repeat: repeat;
    background-size: 22%;
}

.tile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 2px;
}