.interior {
    background-image: url(/media/img/pattern1.jpg);
    background-repeat: repeat;
    background-size: 22%;
}

.room img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wall img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image_block {
    display:block;
    overflow:auto;
}