.interior {
    /* background-image: url(/media/pattern1.jpg); */
    height: 100%;
    position: relative;
    background-repeat: repeat;
    background-size: 22%;
}

.substrate (
    position: absolute;
    width: 100%
    top: 0;
    left: 0;
    background: url(/media/32601.jpg);
    background-repeat: repeat;
)

.room img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wall img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}